<section id="usage" class="usage-container">
    <h3>Usage of this app:</h3>
    <p>This app is to be used to help test, explore and understand various document viewing services. At the moment,
        PDFTron is the only service being tested.</p>
    <ol>
        <li><p>Begin by going the the PDFTron tab. Click the "Preview" button, and a popop should be displayed, showing an XOD
               document inside of a PDFTron.WebViewer instance.</p>
        </li>
    </ol>
    <p>The div in which the PDFTron WebViewer is contained in is named with the CSS id, "NewtonDocumentViewer". This sample app is responsive,
       and can be used to test how well the iframe in the mobile version of PDFTron's MobileReaderControl sits within the "NewtonDocumentViewer"
        container.</p>

    <p>Feel free to enhance and change the application as desired.</p>
</section>
